# Node dependencies
node_modules

# Logs
logs
*.log
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Misc
.DS_Store
.fleet
.idea

# Next.js build output
.next
out

# Build output
dist

# Local env files
.env
.env.*
!.env.example

# Pocketbase
pocketbase/pb_data
pocketbase/pb_migrations
!pocketbase/pb_migrations/collections_snapshot.js
!pocketbase/pb_migrations/initial_settings.js
pocketbase/pocketbase.exe
