# Node dependencies
node_modules

# Logs
logs
*.log
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Misc
.DS_Store
.fleet
.idea

# Next.js build output
.next
out

# Build output
dist

# Local env files
.env
.env.*
!.env.example

# Pocketbase
supplemental/pocketbase/pocketbase*
supplemental/pocketbase/pb_data/*
supplemental/pocketbase/pb_hooks/*
supplemental/pocketbase/pb_migrations/*
!supplemental/pocketbase/pb_data/types.d.ts
!supplemental/pocketbase/pb_hooks/messageOrganizer.pb.js
!supplemental/pocketbase/pb_migrations/collections_snapshot.js
!supplemental/pocketbase/pb_migrations/initial_settings.js

