# Bot
TOKEN=
CLIENT_ID=
API_PORT=3001
API_URL=http://cially-bot:3001
DEBUGGING=FALSE # Change to TRUE to enable bot logs
GUILD_COLLECTION=guilds
MESSAGE_COLLECTION=messages
INVITE_COLLECTION=invites
MEMBER_LEAVES_COLLECTION=member_leaves
MEMBER_JOINS_COLLECTION=member_joins
VC_QUEUE_COLLECTION=voice_channel_data_queue

# Website
PORT=3000

# Pocketbase
# Use the internal Docker URL (e.g., http://cially-pocketbase:8090) to keep PocketBase private.
# If you are NOT using Docker, use your actual PocketBase URL.
POCKETBASE_URL=http://cially-pocketbase:8090/
POCKETBASE_ADMIN_EMAIL=admin@cially.org
POCKETBASE_ADMIN_PASSWORD=admin123!
# Ensure this is a 32-character long encryption key https://pocketbase.io/docs/going-to-production/#enable-settings-encryption
# Run the following command in terminal to generate one
# openssl rand -hex 16
POCKETBASE_ENCRYPTION_KEY=
