# Bot
TOKEN=
CLIENT_ID=
PORT=3001
API_URL=http://cially-bot:3001
DEBUGGING=FALSE # Change to TRUE to enable bot logs
GUILD_COLLECTION=guilds
MESSAGE_COLLECTION=messages
INVITE_COLLECTION=invites
MEMBER_LEAVES_COLLECTION=member_leaves
MEMBER_JOINS_COLLECTION=member_joins

# Website
NEXT_PUBLIC_BOT_API_URL=http://cially-bot:3001
NEXT_PUBLIC_POCKETBASE_URL=http://cially-pocketbase:8090
PORT=3000

# Pocketbase
POCKETBASE_URL=http://cially-pocketbase:8090
POCKETBASE_ADMIN_EMAIL=admin@cially.org
POCKETBASE_ADMIN_PASSWORD=admin123!
# Ensure this is a 32-character long encryption key https://pocketbase.io/docs/going-to-production/#enable-settings-encryption
# openssl rand -hex 16
POCKETBASE_ENCRYPTION_KEY= 
